html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ---------------------------- */

body {
    background:#1f1f1f; 
    font-family: 'Source Sans Pro', sans-serif;
}

.heading {
    height: 50px;
    text-align: center;
    line-height: 100px;
    user-select: none;
}

.header {
    color : white;
    font-size: 40px;
    animation: rainbow 1.5s infinite;
}

.user-money {
    position: absolute;
    right: 10%;
}

.container {
    width: 80%;
    height: 600px;
    border : 2px solid white;
    border-radius: 15px;
    margin-inline: auto;
    margin-block: 100px;
    position: relative;
}

.board {
    width: 90%;
    height: 200px;
    border : 2px solid white;
    border-radius: 15px;
    margin-inline: auto;
    margin-block: 50px;

    text-align: center;
    line-height: 200px;
    user-select: none;
}

.board-number{
    color : white;
    font-size: 80px;
}

.result {
    width: 90%;
    height: 100px;
    border : 2px solid white;
    border-radius: 15px;
    margin-inline: auto;
    margin-block: 30px;

    text-align: center;
    line-height: 100px;
    user-select: none;
}

.result-text {
    color : white;
    font-size: 40px;
}

.user-choice,
.money-bet {
    width: 15%;
    height: 150px;
    border : 2px solid white;
    border-radius: 15px;
    position: absolute;
    text-align: center;
}

.user-choice{
    bottom : 5%;
    left: 10%;
}

.money-bet {
    bottom : 5%;
    right: 10%;
}

.user-choice-text,
.money-bet-text,
.user-money {
    color: white;
    font-size: 23px;
}

.user-choice-input,
.money-bet-input {
    color: white;
    font-size: 23px;
    line-height: 50px;
    background: transparent;
    border : 2px solid white;
    border-radius: 15px;
    width: 50%;
    text-align: center;
    margin-block: 30px;
}

.button {
    width: 15%;
    height: 100px;
    border : 2px solid white;
    border-radius: 15px;
    margin-inline: auto;
    margin-block: 50px;

    text-align: center;
    line-height: 100px;
    user-select: none;
    cursor: pointer;
}

.button:hover {
    opacity: 0.6;
}

.button-text {
    color : white;
    font-size: 40px;
}

@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}
